<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Nuevo Pin</h1>

      <%= form_for @pin do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :image_url %>
          <%= f.url_field :image_url, class: "form-control" %>
        </div>
          <!-- Boton que permite enviar el formulario-->
        <div class="d-grid gap-2 mt-3">
          <%= f.submit "Enviar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>