<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" type="image/jpeg" href="./favicon/icon.png"/>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: false %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Instagram</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-link active" aria-current="page"> <%= link_to 'Home', root_path %></li>

        <!-- Si la sesion esta iniciada entonces se crea un link para salir(destruir la sesión)-->
        <% if user_signed_in? %>
          <li class="nav-item"><a class="nav-link active" aria-current="page" <%= link_to "Nuevo Post", new_pin_path %></li>


          <li class="nav-link active" aria-current="page"> <%= button_to 'Exit', destroy_user_session_path, method: :delete %></li>


        <% else %>
          <!--Path que da divise para poder hacer el registro del usuario-->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" <%= link_to "Registrarse", new_user_registration_path %>
          </li>
          <!--Path que da divise para poder iniciar la sesion del usuario-->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" <%= link_to "Ingresar", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
